<% provide(:title, 'All users') %> 
<div class="container">
<h1 class="mt-3 mb-4">All users</h1>
<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class:"text-danger" %>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>