<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
 <div class="field ">
  <%= f.text_area :content, placeholder: "Compose new micropost...", class:"form-control mb-3", id:"exampleFormControlTextarea1", rows:"3" %> 
</div>
  <%= f.submit "Post", class: "btn btn-danger pl-4 pr-4 mb-5" %> 
<% end %>