<footer class="footer bg-light d-flex justify-content-between"> 
<%# d-flex align-items-center %>
    <small class="d-flex align-items-center p-1">
        The <a class="text-danger p-1" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        by <a class="text-danger p-1" href="http://www.michaelhartl.com/">Michael Hartl</a> 
    </small>
    <nav>
        <ul class="d-flex flex-row mb-0">
            <a><%= link_to "About", about_path, class:"text-secondary p-3" %></a> 
            <a><%= link_to "Contact", contact_path, class:"text-secondary p-3" %></a>
            <a><a class="text-secondary p-3" href="http://news.railstutorial.org/">News</a></a>
        </ul> 
    </nav>
</footer>